/* ============================================================
  SECTIONS
============================================================ */
@font-face {
  font-family: "futura-pt";
  src: url("../futurapt/futuraptbold.otf") format("opentype");
}


section.module.container {
  margin-bottom: 40px 0;
  font-size: 16px;
  font-family: arial, "futura-pt";
  font-weight: 300;
}
section.module {
  margin-bottom: 0;
  font-family: "futura-pt";
  font-size: 18px;
}
section.module.content {
  padding: 120px 0 120px;
}

section.module.parallax {
  height: 1000px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax-1 {
  background-image: url("../img/13.jpg");
 
}section.module.parallax-2 {
  background-image: url("../img/1.jpg");

 } 

 section.module.parallax-academic {
background-image: url("../img/2.jpg");
 }

 section.module.parallax-personal {
  background-color: #97a6b4;
  height: 400px;
 }


section.module.parallax-2 p{  
  text-align: center;
  display: block;
  line-height: 1000px;
  font-weight: 700;
  position: relative;
  font-size: 64px;
  font-style: normal;
  z-index: inherit;
  color: #fff;
  font-variant: bold;
  font-family: "futura-pt";
}
section.module.parallax-3 {
  background-image: url("../img/4.jpg");
}

section.module.parallax-3 p {  
  text-align: center;
  display: block;
  line-height: 1000px;
  font-weight: 700;
  position: relative;
  font-size: 64px;
  font-style: normal;
  z-index: inherit;
  color: #fff;
  font-variant: bold;
  font-family: "futura-pt";
}

section.academic {
  text-align: center;
  display: block;
  line-height: 700px;
  font-weight: 700;
  position: relative;
  font-size: 64px;
  font-style: normal;
  z-index: inherit;
  color: #fff;
  font-variant: bold;
  font-family: "futura-pt";
}

.box1 {
  color: #000;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "futura-pt";
  display: inline-block;
  font-weight: bold;
  line-height: 3em;
  margin: 30px;
  float: right;
  
}

a {
  color: #fff;
  font-family: "futura-pt";
  position: center;
}
a#title  {
  font-size: 36px;
  margin: 30px;
  font-weight: bold;
  line-height: 2.5em;
  float: left;
  color: #ffffff;
  text-transform: uppercase;
}

nav ul {
  padding: 30 0px;
  text-decoration: none;
  border: none;
}

div a .title {
  color: #000000;
}

a:link {
  text-decoration: none;
  border: none;
  outline: none;
 }
 a#title:hover {
  color: #818181;
 }
